# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Sphinx docs
/docs/_build/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/

# Misc
*.log
*.sqlite3

# Ignore examples output
examples/*.csv
examples/*.xlsx
